
/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #0f0f1a;
}

/* Reusable container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}


/* Navbar base */
.navbar {
  background: linear-gradient(180deg, #1b0b3a, #120726);
  padding: 20px 0;
}

.nav-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
}

.logo-gradient {
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.logo span {
  color: #ff3cac;
}

/* Menu center */
.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 14px;
}

.nav-menu a:hover {
  color: #ffffff;
}

/* Gradient button */
.nav-btn {
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background: #fff;
}

/* Hide checkbox */
#nav-toggle {
  display: none;
}


/*  Banner Section  */

.banner {
  min-height: 100%;
  background: linear-gradient( rgba(18, 8, 38, 0.85), rgba(18, 8, 38, 0.85)), url("../images/hero-bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #ffffff;
  padding: 60px 20px;
}

.banner-container {
  max-width: 800px;
  width: 100%;
}

/* Podcast Circle */

.podcast-circle {
  width: 300px;
  height: 300px;
  margin: 0 auto 30px;

  background: linear-gradient(135deg, #7f5cff, #ff6fd8);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  box-sizing: border-box;
  border: 8px solid rgba(42, 24, 108, 1);
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));

}

.mic-image {
  width: 100px;
  height: auto;
}

/* NEW Badge */

.badge-new {
  position: absolute;
  top: 5px;
  right: 2px;

  background: rgba(0, 255, 136, 1);
  color: rgba(26, 11, 46, 1);

  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}

/* Banner Text */

.banner-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 12px;
}

.banner-description {
  font-size: 16px;
  line-height: 1.6;
  color: #dcdcdc;
  margin-bottom: 30px;
}

 /* Banner Buttons */

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 14px 28px;
  border-radius: 30px;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.btn-primary {
  color: #ffffff;

  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  /* background: linear-gradient(90deg, #ff4ecd, #8f6bff); */
}


.btn-primary:hover {
  background: #17a44a;
}

/* Secondary Button */

.btn-secondary {
  background: transparent;
  border: 1px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
}

.btn-secondary:hover {
  background: #ffffff;
  color: #000000;
}


/* ===============================
   About Section
================================ */

.about {
  padding: 100px 20px;
  background: linear-gradient( rgba(18, 8, 38, 0.85), rgba(18, 8, 38, 0.85));
  color: #ffffff;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* ---------- Header ---------- */

.about-header {
  text-align: center;
  margin-bottom: 60px;
}

.about-header h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.about-header p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
}


/* ---------- Stats Cards ---------- */

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.stat-item {
  
  padding: 36px 20px;
  border-radius: 18px;

  text-align: center;
  min-height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-item h3 {
  font-size: 34px;
  color: #00FF88;
  margin-bottom: 6px;
}

.stat-item p {
  font-size: 14px;
  color: #e0e0e0;
}

.why-choose {
  padding: 100px 20px;
  background: radial-gradient(circle at top, #2b0f54, #120322);
  color: #fff;
}

.why-choose h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

/* Grid */
.features {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}

/* Base card */
.feature-card {
  background: linear-gradient(145deg, #2a0f55, #1b0836);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Icon */
.feature-card img {
  width: 40px;
}

/* Text */
.feature-card h3 {
  font-size: 18px;
}

.feature-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #d7cfee;
}

/* Special sizing */
.card-tall {
  grid-row: span 2;
}

.card-wide {
  grid-column: span 2;
}

/* Featured Episodes */


.episodes {
  padding: 100px 20px;
  background: #120322; /* slightly darker than Why Choose */
  color: #fff;
}

.episodes h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

.episode-cards {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card {
  background: linear-gradient(160deg, #2a0f55, #1a0834);
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.episode-card iframe {
  width: 100%;
  height: 180px;
  border-radius: 12px;
}

.episode-card h3 {
  font-size: 18px;
}

.episode-card p {
  font-size: 14px;
  color: #d5ccec;
  line-height: 1.6;
}

.duration {
  margin-top: auto;
  font-size: 13px;
  opacity: 0.8;
  color: rgba(0, 255, 136, 1);
}

/* Meet The Host */

.host {
  padding: 100px 20px;
  background: radial-gradient(circle at left, #2b0f54, #120322);
  color: #fff;
}

.host-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.host-image img {
  width: 320px;
  border-radius: 20px;
}

.host-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.host-content h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #ffffff;
}

.host-content p {
  font-size: 15px;
  line-height: 1.7;
  color: #d7cfee;
  max-width: 480px;
}

/* Gradient icons */
.host-social {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.host-social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #ff5ec4, #8f6bff);
  color: #fff;
  font-size: 18px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.host-social a:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}


/* .host-social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #ff5ec4, #8f6bff);
  color: #fff;
  font-size: 18px;
} */

 /* Footer  */

.footer {
  position: relative;
  background: linear-gradient(180deg, #1a082d, #12051f);
  padding: 80px 20px;
  overflow: hidden;
}

.footer-bg {
  position: absolute;
  inset: 0;
  background: url("../images/footer-bg.png") center bottom / cover no-repeat;
  opacity: 0.25;
  pointer-events: none;
}
.footer-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #cfc9ff;
}

.footer-platforms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}

.footer-platforms span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d6d1ff;
  cursor: pointer;
}

.footer-platforms i {
  font-size: 16px;
  color: #9f8cff;
}




/* Responsive Breakpoints */

/* SMALL DEVICE (≤ 576px) */

@media (max-width: 576px) {

  /* Navbar */
  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    transform: none;
    width: 100%;
    background: #120726;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
  }

  #nav-toggle:checked ~ .nav-menu {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-btn {
    display: none;
  }

  /* Banner */
  .podcast-circle {
    width: 220px;
    height: 220px;
  }

  .mic-image {
    width: 70px;
  }

  .banner-title {
    font-size: 34px;
  }

  .banner-description {
    font-size: 14px;
  }

  .banner-buttons {
    flex-direction: column;
  }

  /* About */
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Why Choose */
  .features {
    grid-template-columns: 1fr;
  }

  .card-wide,
  .card-tall {
    grid-column: span 1;
    grid-row: span 1;
  }

  /* Episodes */
  .episode-cards {
    grid-template-columns: 1fr;
  }

  /* Host */
  .host-container {
    flex-direction: column;
    text-align: center;
  }

  .host-image img {
    width: 240px;
  }
}


/* MEDIUM DEVICE (576px – 992px)*/

@media (min-width: 576px) and (max-width: 992px) {

  /* Navbar */
  .hamburger {
    display: none;
  }

  .nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .nav-btn {
    display: inline-block;
  }

  /* Banner */
  .podcast-circle {
    width: 260px;
    height: 260px;
  }

  .banner-title {
    font-size: 44px;
  }

  /* About */
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Why Choose */
  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-wide {
    grid-column: span 2;
  }

  /* Episodes */
  .episode-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Host */
  .host-container {
    gap: 40px;
  }

  .host-image img {
    width: 280px;
  }
}

